<h1>Listing lists</h1>

<%= link_to "New list", new_list_path %>
 
<table class="table">
  <tr>
    <th>Title</th>
    <th>Tasks</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
 
  <% @lists.each do |list| %>
    <tr>
      <td><%= link_to list.title, list_path(list) %></td>
      <td><%= list.tasks.count %></td>
      <td><%= link_to "Edit", edit_list_path(list) %></td>
      <td><%= link_to "Destroy", list_path(list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>